---
import Main from "../layouts/Main.astro";
import Latest from "../components/Latest.astro";
// hard coded this now, to be replaced later.
const image = "../../public/dark-blue-yellow.png";
const title = "ProseMirror x Angular : My experience with prosemirror";
const blogDate = new Date();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>AlSpace</title>
  </head>
  <body>
    <Main
      pageTitle="ALBlog"
      pageCaption="Welcome to my blog. Check out my latest articles here."
    >
      <Latest image={image} blogTitle={title} blogDate={blogDate} />
    </Main>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Inter-SemiBold";
    src: url("../../public/fonts/Inter/static/Inter-SemiBold.ttf");
  }
  @font-face {
    font-family: "Inter-Bold";
    src: url("../../public/fonts/Inter/static/Inter-Bold.ttf");
  }
  @font-face {
    font-family: "Inter-Regular";
    src: url("../../public/fonts/Inter/static/Inter-Regular.ttf");
  }
  body {
    width: 100vw;
    height: 100vh;
    font-family: "Inter-SemiBold";
  }
</style>
