---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { BlogHandler } from "../utils/index";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const blogHandler = new BlogHandler(post);
const blogCategory = blogHandler.getCategoryLogo();
const blogImage = blogHandler.getImage();
---

<div class="container cursor-pointer flex flex-col flex-start gap-4">
  <div class="images w-[35%] relative h-full">
    {
      blogImage && (
        <Image
          src={blogImage}
          class="inset-0 z-0 rounded-[10px]"
          alt="blog-image"
        />
      )
    }
    {
      blogCategory && (
        <div class="category flex h-full flex-col z-10 items-center justify-center inset-0 absolute">
          <Image
            class="object-contain w-[35px] h-auto"
            src={blogCategory}
            alt="blog-image"
          />
        </div>
      )
    }
  </div>
  <div class="annotations flex flex-col items-start gap-1">
    <div class="title text-slate-900 text-xl text-left">
      {post.data.title}
    </div>
    <div class="date text-sm text-slate-400">
      {blogHandler.getDateAsString()}
    </div>
  </div>
</div>
