---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
type Props = {
  image: ImageMetadata;
  blogTitle: string;
  blogDate: Date;
  blogCategory: ImageMetadata | undefined;
};
const props: Props = Astro.props;
const getDateAsString = (blogDate: Date) => {
  return (
    blogDate.getDay() + "-" + blogDate.getMonth() + "-" + blogDate.getFullYear()
  );
};
---

<div
  class="container w-[900px] h-[350px] rounded-[12px] flex flex-row items-center bg-slate-50"
>
  <div class="relative w-[60%] images rounded-l-[15px] h-full">
    <Image
      src={props.image}
      class="absolute inset-0 z-0 h-full rounded-l-[15px]"
      alt="blog-image"
    />
    {
      props.blogCategory && (
        <div class="absolute inset-0 flex justify-center items-center">
          <Image
            src={props.blogCategory}
            class="w-[50px] h-auto object-contain"
            alt="category"
          />
        </div>
      )
    }
  </div>
  <div
    class="annotations p-12 flex flex-col items-start gap-3 w-[50%] h-full justify-center"
  >
    <div class="blogTitle text-slate-900 text-2xl text-left">
      {props.blogTitle}
    </div>
    <div class="date text-sm text-slate-400">
      {getDateAsString(props.blogDate)}
    </div>
  </div>
</div>

<style>
  .title {
    font-family: "Inter-ExtraBold";
  }
  .annotations {
    font-family: "Inter-ExtraBold";
  }
</style>
