---
import type { CollectionEntry } from "astro:content";
import Blog from "../components/Blog.astro";
type Props = {
  remainingPosts: CollectionEntry<"posts">[];
};
const { remainingPosts } = Astro.props;
---

<div
  class="flex flex-col flex-wrap lg:justify-between lg:items-center lg:flex-row max-w-full sm:max-w-full-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl justify-center items-center gap-10"
>
  {remainingPosts.map((post) => <Blog post={post} />)}
</div>
